@import '../style/_variables';
// TODO feedback：可以不用在这里引入ant design的样式
@import '~antd/dist/antd.css';
@import '../style/trainee';
@import '../style/mixin';
// @use not working

.App {
  background-color: lightgray;
  margin: 20px;
  padding: 0px;
}

.member_list_div {
  margin: 0px 20px;
  padding-bottom: 20px;
}

.personTagButton {
  background-color: darkgray;
  padding: 10px 20px;
  margin: 20px 20px;
  width: $tag-width;
  text-align: center;
  display: inline-block;
}

//TODO feedback：class命名不符合规范，不建议用驼峰
.addPersonTagButton {
  background-color: darkgray;
  padding: 5px 15px;
  margin: 10px 20px;
  width: $tag-width;
  height: 45px;
  text-align: center;
  display: inline-block;
}

.add_member_input {
  background-color: darkgray;
  padding: 5px 15px;
  margin: 10px 20px;
  width: 100px;
  height: 36px;
  text-align: center;
  display: inline-block;
  border: 2px solid black;
}

.groupSectionTitleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignButton {
  float: right;
  background-color: red;
  color: white;
  margin-right: 30px;
  width: 100px;
  height: 40px;
}

.teamNameButton {
  width: 100%;
  font-size: 1.4em;
  background-color: slategray;
}

.renameInput {
  width: 100%;
  font-size: 1.4em;
  background-color: slategray;
  text-align: center;
}

.pop-over-div {
  padding: $base-padding;
}

.tag-props-span {
  background-color: lightgray;
  margin: $base-margin / 5;
  padding: $base-padding;
}
